<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css">
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
</head>

<body>

  <%- include('nav') %>

  <!-- Navbar -->
  <div id="banner" style="background-color: rgb(227, 23, 84); position: relative; top: 0px; height: 150px;" class="container-fluid">
    <h1 style="position: relative; top: 50px; color: #fff;" class="text-center">About Us</h1>
    <p style="position: relative; top: 50px; color: #fff;" class="text-center">Here's who we are.</p>
  </div>


  <div class="container zim">
    <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://zamfoundation.co.za/wp-content/uploads/2021/08/zam-mem.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
          <div id="zam-body" style="  margin-top: -20px;" class="card-body">
            <h5 class="card-title">About Zimkhitha Amanada Mashalaba</h5>
            <p class="card-text">
              The Zimkhitha Amanda Mashalaba Foundation herein referred to as ZAM Foundation, is a registered NPO (153-560 NPO) that aims to provide access to learners and driver training courses to young people from previously disadvantaged communities in order to improve their employability profile. The foundation focuses on young people who are 25 years and younger, who either have matric or are in the process of obtaining one. We have identified that a large number of these young people once they finish their matric, usually opt for job seeking as opposed to tertiary education due to lack of funds from their families. Our aim is to intervene during this period by providing them with the opportunity to acquire a skill that improves their chances of employment and can also be of great use to them in the future i.e. the ability and certification to drive a motor vehicle.
            </p>

          </div>
          <div id="zam-gov" class="card-body">
            <h5 class="card-title">Goverance</h5>
            <p class="card-text">
              The foundation is governed by an advisory board that is made up of members who serve on a voluntary basis. None of the members draw a salary or remuneration from the organisation.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 style="position: relative; top: 90px;" class="text-center">Meet the team</h1>

  <div style="margin-top: 90px;" class="container tainer">
    <div class="row ">

      <div class="col-lg-3 col-md-6">
        <div style="height: 950px;" class="card  ">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/image-removebg-preview-2.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Gringoe Thandile Mashalaba</h5>
            <p class="card-text">
              Gringoe works in the design engineering space and is very passionate about mechanical design and engineering in general. He is an ordained pastor who currently serves in the national structures at his church.
              Driven by his passion for helping others Gringoe founded the ZAM Foundation in 2015 as a vehicle to assist young people from around his own childhood neighbourhood and surrounding areas. He currently serves as Chairman of the board of ZAM.
            </p>


          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 crd2">
        <div style="height: 950px;" class="card  ">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/image-removebg-preview-1-1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Mawonga Phaphile Celesi</h5>
            <p class="card-text">
              Phaphile trained as an educator and later worked on radio both as presenter and HOD. He currently works as Head of Missions and Theological Training. Phaphile also authored a children’s book, called ‘With the eyes of a child-sharing God’s love with the young’.

              It was his passionate for mentorship that saw him join ZAM Foundation as a board member in 2015.
            </p>


          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 crd3">
        <div style="height: 950px;" class="card  ">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/image-removebg-preview-2-1.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Mcedidi Mkubukeli</h5>
            <p class="card-text">
              Mncedisi is a former manager within the Department of Health and is now retired.
              He is also a founder of Family Enrichment Ministry (FEM) that focuses on helping families and married couples ovwrcome life’s challenges. He currently also serves as a marriage counselor.

              As a family oriented individual it was a no brainer when Mncedisi was invited to be part of the ZAM Foindation board and accepted the challenge enthusiastically.
            </p>


          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 crd4">
        <div class="card  ">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/image-removebg-preview-3.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
          </div>
          <div class="card-header">Featured</div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">


              Siegfried serves as ‘Regional Director’ of a mission organisation in Southern Africa and Indian Oceans Islands. His focus is on the entity directors in the respective countries. He is an ordained minister and passionate about theological education and leadership development. Siegfried serves in various boards and councils in and beyond South Africa.
              Recently he has also been appointed as a ‘Research Fellow’ in Missiology with the University of Stellenbosch.

              Siegfried has served on the board of ZAM from the beginning. As a trained, life and leadership coach, he finds serving in the board a unique and joyful experience.
            </p>


          </div>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row ">

        <div class="col-lg-3 col-md-6 crd5">
          <div style="height: 867px;" class="card  ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/image-removebg-preview-4-1.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Nomfundo is an IT Professional working in the Financial Services sector. She has a passion for people and technology and believes that through building solid relationships and nurturing partnerships we can achieve many great things in business and life.

                It has always been her nature to help find solutions to problems, that’s what led her to ZAM Foundation. She currently serves as secretary of the board.
              </p>


            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 crd6">
          <div class="card  ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/WhatsApp_Image_2021-04-05_at_23.49.49-removebg-preview.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Jarome is a qualified attorney with years of experience in the legal field couples with hands on experience in management of business entities. As a football enthusiast, Jarome now works as a full-time football coach at one of the leading institutions in Germany.

                His experience serving as chairman for various Non-Governmental Organisation made him the perfect choice to serve on the board of ZAM Foundation. Jarome believe in empowerment, development and mentorship especially those who were previously disadvabtaged.
              </p>


            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 crd7">
          <div style="height: 867px;" class="card  ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/zDDdoYqQ64U.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Phumezo is a Church Minister serving in the township of Khayelitsha. He is passionate about the leadership developmentand training for young people. Phumezo also works as a lecturer at George Whitefiled College in Cape Town.
                Phumezo has served in the advisory board of ZAM Foundation from its inception.
              </p>


            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6  crd8">
          <div style="height: 867px;" class="card   ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://zamfoundation.co.za/wp-content/uploads/2021/04/ABUWC-0a7_A.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Xolani is a qualified educator and now serves within the Higher Education with specific focus in the students financial aid sector.
                His passion for education, training and development for the previously disadvantaged was one of the reasons that led him to join ZAM Foundation as a board member in 2015.
              </p>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <%- include('footer') %>

</body>

</html>